/* Global Stylesheet */
/* Page Container */
.g_Page_Container {
    margin-top:100px;
}

/* Header */

/* Navigation */
.g_Nav_Links li a:hover{
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    border-radius:5px;
}

.g_Nav_Search {
    margin-left:2em;
}