{% extends 'layout.html' %}

{% block title %}
    {{ super() }}Projects
{% endblock %}

{% block content %}
<div class="col-xs-1-12">
    <div class="row">
    <h1>Projects Page</h1>  
    </div>
    <div class="row">
        <h4>Simple Pokemon Search</h4>
    </div>
    <div class="row">
        <form class="form-inline" action="{{ url_for('projects') }}" method="POST">
            <div class="row">
                <div class="form-group">
                    <input type="text" class="form-control" name="pokemon" id="" placeholder="Choose Your Pokemon">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Image</th>
                    <th class="text-center">Information</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"><img class='img-fluid h-100' src='{{ pokemon.image }}' /></td>
                    <td class="text-center">
                        Name: {{ pokemon.name }} <br/>
                        Type: {{ pokemon.type[0] }} {{ pokemon.type[1] }}<br/>
                        Height: {{ pokemon.height }} ft. <br/>
                        Weight: {{ pokemon.weight }} lbs. <br/>
                        Ability: {{ pokemon.ability }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}